# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Node / Next.js
node_modules/
.next/
out/
.venv/
env/
.env.local
.env.*
!.env
backend/.env


# SnapCartAI
backend/temp_audio/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db       
